<md-dialog aria-label="Rename Board">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Rename Board</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                <md-icon md-svg-src="assets/img/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content ng-cloak>
        <div class="md-dialog-content">
            <form ng-submit="$event.preventDefault()">

                <md-input-container flex="100">
                    <label>Name</label>
                    <input required name="listName" ng-model="title">
                    <div ng-messages="listName.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
            </form>
        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button class="md-primary" aria-label="Finished" ng-click="ctrl.finish($event)">Rename</md-button>
    </md-dialog-actions>
</md-dialog>
